.DS_STORE
.idea/*
.run/*
__pycache__/
training_data*
*.csv
*.jar
*.class
*.iml
*.query
*.png
*.log
target/*
plan-executor/target/*
plan-enumerator/target/*
storm-client/target/*
storm-server/target/*
storm-kafka-client/target/*
